// COLOR VARIABLES

$paragraphs: #777;
$headers: #58e1c1;
$btn-colors: #fff;
$border: #ccc;

// GRID COLORS

$col-1: #927bc1;
$col-2: #fd7856;
$col-3: #deb2ee;
$col-4: #7ee6fd;
$col-5: #88d9a0;
$col-6: #4da2bb;
$col-7: #ec9fa3;
$col-8: #fd9f85;
$col-9: #e4757a;
$col-10: #63cc82;
$col-11: #51ddfc;
$col-12: #80e8d1;

// BUTTONS
$defaults: #51ddfc;
$default-light: lighten($defaults, 15%);

$error: #e4757a;
$error-light: lighten($error, 15%);

$info: #927bc1;
$info-light: lighten($info, 15%);

$success: #63cc82;
$success-light: lighten($success, 15%);

$warning: #fd7856;
$warning-light: lighten($warning, 15%);

// BREAKPOINTS
$break-m: 768px;