// Color Variables

$grey: #777; // dark grey
$viking: #58E1C1; //teal
$white: #fff; // white
$malibu:#51ddfc ; //light blue
$sunglo: #e4757a; // cherry pink

$purple-mountain-majesty: #927bc1; //purple
$emerald: #63cc82; // soft green
$coral: #fd7856; // tomato

// Media Query break points

$brk-narrow: 768px;


// Fonts

$font-family:'Lato', sans-serif;

