/* ============================================= */
 /* Navigation */
 /* ============================================= */

 
.nav {

  padding-left: 0;
  flex-basis: 100%;
  @include flex;
  &-link {
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    display: block;
    width: 100%;
    transition: 
      background-color .2s ease-in-out, 
      color .2s ease-in-out;
      @media (min-width: $break-m) {
        flex-basis: 100px;
      }
  &:hover {
    color: $btn-colors;
    background-color: $headers;
  }
} @media (min-width: $break-m) {
flex-direction: row;
justify-content: flex-end;
align-items: center;
}
}
