/* ============================================= */
 /* Typography */
 /* ============================================= */

 .headline-primary {
  color: $viking;
  margin-left: 10px;
}

.headline-secondary {
  font-weight: 300;
  color:$grey;
}

.link {
  color: $viking;
  font-weight: 700;
}

.blockquote {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $viking;
  border-radius: 5px;
}

/* ============================================= */
/*              Base styles                      */
/* ============================================= */



* {
  font-family: $font-family;
  color: #777;
  box-sizing: border-box;
}


p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}





